.error-boundary {
  width: 100%;
  text-align: center;
  padding: 40;
}

.global-loader{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  z-index: 200;
  padding: 0 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-label-txt{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.95);
  position: relative;
  overflow: scroll;
}
.profile-view{
  z-index: unset !important;
  padding: 10px !important;
  background: aliceblue;
  position: relative;
}

.user-form{
  width: 31%;
}
